<main>
    <!-- <div *ngIf="travelData$ | async as travelData;">
        <app-edit-travel [travel]="travelData" (on-change)="updateCurrentTravel($event)">
        </app-edit-travel>
        <div *ngIf="stopsData$ | async as stopsData;" class="edit-stops-wrapper">
            <app-edit-stop-list [stops]="stopsData" [travelId]="travelData.id" (on-change)="updateCurrentStop($event)"
                [addStop]="addStop" [deleteStop]="deleteStop">
            </app-edit-stop-list>
        </div>
    </div> -->
</main>