:host {
    display: grid;
    grid-template-columns: main-end;
    padding-block: 64px;
  }
  
  :host > * {
    grid-column: main;
  }
  
  main {
    display: inline-block;
    display: grid;
    gap: 56px;
  }
  app-edit-travel{
    display: grid;
    grid-template-columns:40%;
    grid-template-rows: 10;
  }
  .edit-stops-wrapper{
    display: grid;
    padding: 8px;
    float: right;
  }
