:host {
    display: grid;
    // grid-template-columns:auto auto;
    padding-block: 64px;
  }
  
  :host > * {
    grid-column: 80%;
  }
  
  main {
    display: grid;
    // grid-template-columns:auto auto;
    gap: 1px;
    
  }
  app-edit-travel{
    border-right: 1px black;
    padding: 12px;
    float: left;
  }
  .edit-stops-wrapper{
    min-height: 100%;
    float: right;
    width: 50%;
    padding: 12px;
  }
